@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
  }
  :root {
  --bgOrange: #e63946;
  }

  #wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
  }

  .container{
    width:100%;
    height: auto;
    margin:0 auto;
    /* background-color:; */
  }

  .navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #219ebc;
    padding:1rem;
  }

  .logo-text{
    margin-left:5rem;
    font-size:3rem;
  }

  .nav-items{
    display:flex;
    gap:2rem;
    padding: 0 4em;
  }

  .nav-items div{
    font-size:1.5rem;
    font-weight:500;
    cursor:pointer;
   
  }
  .nav-items div a{
    color:black;
    /* transition: all 5s ease; */
  }

  a{
    text-decoration: none;
  }


  .nav-items div:hover{
    transition:0.8s;
    font-weight: bold;
  }

  .hero-section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;

    gap: 10rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
  }

  .faded-text{
    position:absolute;
    user-select:none;
    font-size: 7em;
    color: #82d3e744;
    
    bottom: -16%;
    left: 1%;
    font-weight: bold;
    transition: all 3s;
  }

  .hero-section-left{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;
  }

  .hero-section-heading{
    font-size: 4rem;
    color: #343d68;
    font-weight: 500;
  }

  .role{
    color: #4e45d5;
    font-weight: 800;
  }

  .hero-section-sub-heading{
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
  }

  #bt1{
    width: 10vw;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    padding: 0.6rem 0.9rem;
    background-color: #219ebc;
    transition: box-shadow 0.2s linear;
  }

  #bt1link{
    color: white;
  }

  #bt1:hover{
    box-shadow: 4px 4px black;
    cursor: pointer;
    /* box-shadow: inset 100px 0 0 0 black;
    opacity: 0.2; */
  }

  .hero-section-right{
    position:relative;
  }

  .absolute{
    position:absolute;
  }

  .user-image{
    padding:1.5rem;
    margin-left: 4rem;
    /* filter:grayscale(1); */
    transition:all linear 1s;
    animation: scaleImage 5s linear infinite;
  }

  .user-image img{
    width: 22vw;
    z-index:-9;
  }

  @keyframes scaleImage {

    0%{
      transform:scale(1);  
      /* background-color: #8ecae6; */
      background-color: #023047;
    }

    50%{
      transform:scale(1.1);
      background-color: #8ecae6;
      box-shadow: 3px 3px 10px black;
    }

    100%{
      transform:scale(1);
      background-color: #023047;
    }
  }

  @media (max-width: 850px) {
    .nav-items{
      flex-direction: column;
    }

    .hero-section{
      flex-direction: column;
      /* justify-content: center;
      align-items: center; */
    }
    
    .hero-section-left{
      text-align: center;
    }

    .hero-section-description{
      text-align: center;
    }
  }

  .project-section{
    background-color: #f1faee;
    margin-top:4rem;
    padding-bottom: 4rem;
  }

  .page-header{
    color:var(--bgOrange);
    font-size:90px;
    text-align:center;
    padding-top:30px;
  }
  .project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display:flex;
    flex-direction:column;
    justify-content: end;
    gap:120px;
  }

  .project-card{
    width:90%;
    height:550px;
    background-image: url(Screenshot\ \(557\).png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
  }

  .project-card::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
    transform: scaleX(1);
  }

  .project-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.6s;
    z-index:1;
  }

  .project-card:hover::before{
    transform:scaleX(1);
  }

  .projectnum{
    position:absolute;
    color: whitesmoke;
    font-size:200px;
    font-weight:600;
    z-index:10;
    /* display:none; */
    opacity: 0;
  }

  .project-card:hover .projectnum{
    display:block;
    opacity: 1;
    transition: all linear 1s;
  }

  .projectnum{
    right:20px;
    top:-65px;
  }

  .project-number-left{
    left:40px;
    top:-45px;
  }

  .project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 1s;
  }


  .project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

  .project-skills-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  
  }

  .project-skill{
    width:40px;
  }

  .project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
  }
  
  .project-subheading{
    width:70%;
    font-size:16px;
    font-style: italic;
  }


  .btn-grp{
    display:flex;
    gap:0.9rem;
    align-items:center;
  }

  .btn-project:hover{
    border:none;
  }

  .icon{
    cursor:pointer;
    color:white;
    font-size:35px;
    transition:all 0.4s;
  }

  .icon:hover{
    color:var(--bgOrange);
  }

  .project-card:hover .project-content{
    transform:scale(1.1);
  }

  #project1{
    background-image: url(Screenshot\ \(557\).png);
  }

  #project2{
    margin-left:120px;
    background-image: url(Screenshot\ \(557\).png);
  }

  @media (max-width:1300px) {
    .page-header {
      padding-top: 30px;
      color: var(--bgOrange);
      text-align: center;
      font-size: 40px;
    }
    .project-container {
      padding: 5px;
      margin: 10px;
      gap: 60px;
    }
    .project-card {
      width: 100%;
      height: 300px;
    }
    .project-card {
      background-size: cover;
      background-position: center;
    }
    .project-content {
      scale: 0.5;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    .project-content-left {
      left: 0;
    }
    .project-heading {
      font-size: 40px;
      width: 100%;
    }
    .project-sub-heading {
      width: 100%;
    }
    #project2 {
      margin-left: 0;
    }
    #project4 {
      margin-left: 0;
    }
    .project-skill-container {
      width: 100%;
    }
    .project-skill {
      width: 35px;
    }
    .project-card:hover .project-number {
      display: none;
    }
    .project-card:hover .project-content {
      scale: 0.55;
    }
  }

  .Activity-section{
    background-color: #fefae0;
    /* margin-top:0.5rem; */
    /* z-index: -1111111; */
    padding-bottom: 2rem;
  }

  .Activity-section .page-header{
    color: #bc6c25;
  }

  .Activity-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display:flex;
    flex-direction:row;
    justify-content: end;
    gap:120px;
  }
  
  .title{
    width: 60%;
    border: solid 1px black;
    background-color: #606c38;
    padding: 1rem;
  }

  .Activity-card{
    width:90%;
    height:350px;
    background-size: cover;
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 5px 5px 20px black;
    transform: scale(1);
    transition: all linear 0.5s;
  }

  .left-side-1{
    position: absolute;
    background-color: #dda15e;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: all ease-in-out 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #fefae0;
  }

  .left-side-2{
    position: absolute;
    background-color: #dda15e;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: scaleY(1);
    transform-origin: top;
    transition: all ease-in-out 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #fefae0;
  }

  .left-side-1:active{
    transform: scaleY(0);
  }

  .left-side-2:active{
    transform: scaleY(0);
  }

  .Activity-card:hover{
    transform: scale(1.05);
  }

  .right-side-1{
    background-color: #bc6c25;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fefae0;
  }

  .right-side-2{
    background-color: #bc6c25;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fefae0;
  }

  @keyframes bgremove {
    0%{
      top: 0;
    }
    100%{
      top: 50%;
    }
    /* 100%{
      top: 0;
    } */
  }

  @keyframes cardmovement {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(0.95);
    }
    100%{
      transform: scale(1);
    }
  }

  .content{
    font-size: 1.2rem;
  }

  .title{
    font-weight: bold;
  }

  #Activityimage{
    width: 35%;
    height: 45%;
    border: solid 3px black;
  }

  @media (max-width: 1100px){
    .Activity-section{
      background-color: #fefae0;
      padding-bottom: 2rem;
    }
  
    .Activity-container{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      gap:80px;
    }
    
    .title{
      width: 60%;
      border: solid 1px black;
      background-color: #606c38;
      padding: 1rem;
    }
  
    .Activity-card{
      width:80%;
    }
  
    .left-side-1{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.5rem;
      color: #fefae0;
    }
  
    .left-side-2{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.5rem;
      color: #fefae0;
    }
  
    .left-side-1:active{
      transform: scaleY(0);
    }
  
    .left-side-2:active{
      transform: scaleY(0);
    }
  
    .Activity-card:hover{
      transform: scale(1.05);
    }
  
    .right-side-1{
      background-color: #bc6c25;
      width: 100%;
      height: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #fefae0;
    }
  
    .right-side-2{
      background-color: #bc6c25;
      width: 100%;
      height: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 10px;
      color: #fefae0;
    }

    .content{
      font-size: 1rem;
    }

    .title{
      font-weight: bold;
    }
  
    #Activityimage{
      width: 60%;
      height: 55%;
      align-self: center;
      border: solid 1px black;
    }
  }

  @media (max-width: 450px){
    .content{
      font-size: 0.8rem;
    }
  
    #Activityimage{
      width: 60%;
      height: 50%;
      align-self: center;
      border: solid 1px black;
    }
  }

  .achieve-section{
    background-color: #ffedd8;
    /* margin-top:4rem; */
    padding-bottom: 2rem;
  }

  .achieve-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;

    display:flex;
    flex-direction:column;
    justify-content: end;
    gap:100px;
  }

  .achieve-section .page-header{
    color: #583101;
  }

  .achieve-num{
    font-size: 125px;
    margin-right: 45%;
    margin-top: 0%;
    position: absolute;
    transition: all linear 2s;
  }

  .num-one:hover .achieve-num{
    margin-top: 100%;
  }

  .num-two:hover .achieve-num{
    margin-top: 100%;
  }

  .num-one{
    width:100%;
    height:150px;
    background-size: cover;
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 100px;
    background-color: #e7bc91;
  }

  .num-two{
    width:100%;
    height:150px;
    background-size: cover;
    position:relative;
    box-shadow:0px 0px 40px #1f1f1f;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 100px;
    background-color: #e7bc91;
  }

  .achieve-title{
    width: 35%;
    height: 100px;
    background-color: #8b5e34;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
  }

  .details{
    width: 0%;
    height: 100px;
    background-color: #8b5e34;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 1.5s; 
    border-radius: 50px;
  }

  .details-box{
    padding: 10px;
    opacity: 0;
    transition: all linear 1s;
  }

  .details-two{
    width: 0%;
    height: 100px;
    background-color: #8b5e34;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 1.5s; 
    border-radius: 50px;
  }

  .details-box-two{
    padding: 10px;
    opacity: 0;
    transition: all linear 1s;
  }

  .num-one:hover .details{
    width: 80%;
  }

  .num-two:hover .details-two{
    width: 80%;
  }

  .num-one:hover .details-box{
    opacity: 1;
    /* transition: all linear 3s; */
  }

  .num-two:hover .details-box-two{
    opacity: 1;
    /* transition: all linear 3s; */
  }

  @media (max-width: 450px) {
    .achieve-section{
      background-color: #ffedd8;
      /* margin-top:4rem; */
      padding-bottom: 2rem;
    }

    .achieve-section .page-header{
      font-size: 30px;
    }
  
    .achieve-container{
      max-width: 1200px;
      margin:0 auto;
      padding:3rem 0;
  
      display:flex;
      flex-direction:column;
      justify-content: end;
      gap:50px;
    }
  
    .achieve-num{
      /* left: 40px; */
      font-size: 65px;
    }

    .num-one{
      height: 100px;
      border-radius: 100px;
    }
  
    .num-two{
      height: 100px;
      border-radius: 100px;
    }
  
    .achieve-title{
      text-align: center;
      height: 66px;
      border-radius: 50px;
      font-size: 0.4rem;
    }
  
    .details{
      height: 66px;
      border-radius: 50px;
    }
  
    .details-box{
      font-size: 0.4rem;
    }
  
    .details-two{
      height: 66px;
      border-radius: 50px;
    }
  
    .details-box-two{
      font-size: 0.4rem;
    }
  }

  .skills-container{
    position:relative;
    display:flex;
    padding:4rem;
    gap:30px;
  }

  .skill-container-left{
    width:50%;
    display:flex;
    flex-direction:column;
    z-index: 1;
  }

  .skill-container-right{
    display:flex;
    flex-wrap:wrap;
    width:50%;
    height: 80%;
    margin-top: 8%;
    position:relative;
    gap:2rem;
    justify-content: center;
  }

  .skill-fade-text{
    position:absolute;
    font-size:10rem;
    font-style:bold;
    color:rgb(231,231,231);
    top: -4%;
    left: 65%;
    user-select:none;
    overflow-y:hidden;
  }

  @keyframes skillsani {
    0%{
      top: 90%;
      left: 90%;
    }
    100%{
      top: 90%;
      left: -40%;
    }
  }

  .blob-style{
    position:absolute;
    top:50%;
    left:50%;
    z-index:-5;
    transform:translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
  }

  @keyframes blobAnimate {
    50%{
      top:54%;
      left:46%;
    }
  }

  .skills-logo{
    width:150px;
    transition:all 0.5s;
  }

  .skills-logo:hover{
    transform:scale(1.2);
  }

  .skill-heading{
    font-size:50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 80px;
  }

  .caps{
    font-size:100px;
  }

  .skill-subHeading{
    margin-top: 0.5rem;
    width:85%;
    text-align: justify;
  }

  .skill-subHeading p{
    margin:15px 0;
  }

  .form{
    background-color: rgb(231,231,231);
  }


  .subtitle{
    text-align: center;
  }

  .formcontainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .form-sections{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  #area{
    width: 70%;
    height: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
  }

  .msg-area{
    width: 70%;
    height: auto; 
    padding: 1rem; 
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;  
  }

  .footer-section{
    background-color: rgb(178, 109, 44);
  }

  .footer-container{
    max-width: 1200px;
    position: relative;
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .left-content{
    margin: 4rem;
    padding-left: 2rem;

    display: flex;
    gap: 0.8rem;
  }

  .left-content a{
    color: black;
    font-weight: bold;
  }

  .right-content{
    margin: 4rem;
    padding-right: 2rem;

    display: flex;
    gap: 1rem;
  }

  .right-content img{
    width: 3rem;
    height: 3rem;
  }

  .right-content img:hover{
    cursor: pointer;
  }

  .fadedtext{
    color: rgba(247, 170, 98, 0.548);
    user-select: none;
    font-size: 3rem;
    position: absolute;

    /* margin-top: 10%; */
    align-self: flex-end;
    margin-left: 2rem;
    /* opacity: 0.5; */
  }